<!DOCTYPE html>
<html>
  <head>
    <title>My Simple Website</title>
  </head>
  <body>
    <h1>Welcome to My Simple Website</h1>
    <p>This is a simple Sinatra application.</p>
    <button id="formButton">form</button>
  </body>
</html>

<script>
  document.getElementById('formButton').onclick = function() {
    window.location.href = '/form';
  };
</script>